---
import Header from "../components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<Header />
	<main>
		<slot />
	</main>
	<footer></footer>
</BaseLayout>
